/* @import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*>* {
    /* font-family: 'Arvo', serif; */
    font-family: 'Source Code Pro', monospace;


}

.scroll-container {
}

.scroll-list {
    overflow-x: scroll;
    padding-bottom: 5%;
    display: flex;
    
}

.scroll-list > li {
    display: flex;

}



.scroll-list::-webkit-scrollbar {
    width: 2px;
  }
  
  .scroll-list::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  .scroll-list::-webkit-scrollbar-thumb {
    background-color: #888;
    /* border-radius: 5px; */
  }
  
  .scroll-list::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  #resume-modal {
    animation: fadein .5s forwards;
  }

  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

